{% include 'dummies/dummy_panel_open.html' with title="Progress" %}
<div class="row">
	<div class="col-2" id="configStatus"></div>
		<div class="col-9">
			<div class="progress" id="configProgress" style="height: 20px; width: 100%;">
				<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	<div class="col-1" data-offset="0" id="repeatCounter"></div>
</div>

{% block javascript %}
    <script language="JavaScript">

        const MIN_DURRATION = 1000;
        const RESPONSE_WAIT = 250;

		const states = {
		  READY: 0,
		  RUNNING: 1,
		  DONE: 2
		};

		function startAnimation(durration) {
		    console.log("startAnimation: "+durration);

			if (durration > MIN_DURRATION) {

			    var now = new Date();
                animation.endTime = now.getTime() + durration - RESPONSE_WAIT;
                animation.durration = durration;

                animation.waiter = setTimeout(function(){
                    setProgressStatus(states['RUNNING']);

                    disableAllLinks();
                    $('.customCaptureBtn').toggleClass("disabled");

                    animateUpdate();

                }, RESPONSE_WAIT);

			} else {
			    animation.waiter = setTimeout(function(){
                    setProgressStatus(states['RUNNING']);
                }, RESPONSE_WAIT);
			}
		}

		function animateUpdate() {
			if (animation.isRunning) {
				var now = new Date();
				var timeLeft = animation.endTime - now.getTime() ;
				var progress = ((animation.durration - timeLeft) / animation.durration) * 100;

				if (progress <= 100) {
					updateProgress(progress);
					setTimeout(animateUpdate, 100);
				} else {
					updateProgress(100);
				}
			}
		}

		function onProgressDone() {
			setProgressStatus(states['DONE']);
			setTimeout(resetAnimation, 100);
		}

		function cancelProgress() {
			console.log("cancelProgress()");
		    clearTimeout(animation.waiter);
		    animation = {};
		    updateProgress(0);
		}

		function resetAnimation() {
			console.log("resetAnimation()");

			//Reset everything
			animation = {};

            enableAllLinks();

            $('.customCaptureBtn').toggleClass("disabled");//TODO will break!!!
            $('#repeatCounter').empty();
			setProgressStatus(states['READY']);

			updateProgress(0);

		}

		function setProgressStatus(status) {
			switch (status) {
				case states['READY']:
					$('#configStatus').text("Status: READY");
					break;

			  	case states['RUNNING']:
					$('#configStatus').text("Status: RUNNING");
					animation.isRunning = true;
					break;

			  	case states['DONE']:
					$('#configStatus').text("Status: DONE");
					break;
			}
		}


		function updateProgress(progress) {
			if (progress > 0) {
				$('.progress-bar').css("width", progress + "%");
				$('.progress-bar').text(Math.round(progress) + "%");
			} else {
				$(".progress-bar").addClass("notransition");
				$('.progress-bar').attr('style', "width: 0%");
				$(".progress-bar").removeClass("notransition");
			}
		}


		//============================================================

		setProgressStatus(states['READY']);


    </script>
	{% endblock %}


{% include 'dummies/dummy_panel_close.html' %}