{% extends 'body.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-3">
            {% include 'dummies/dummy_panel_open.html' with title="Video-Capture-Config" %}

                <div class="customBtnHolder">
                    <button class="btn btn-lg btn-primary customCaptureBtn customBtnSize" data-size="100">100%</button>
                    <button class="btn btn-lg btn-primary customCaptureBtn customBtnSize" data-size="75">75%</button>
                    <button class="btn btn-lg btn-primary customCaptureBtn customBtnSize" data-size="50">50%</button>
                    <button class="btn btn-lg btn-primary customCaptureBtn customBtnSize" data-size="25">25%</button>
                    <button class="btn btn-block btn-lg btn-success customCaptureBtn" id="btnCaptureVideo">CAPTURE</button>
                    <!--
                    <button class="btn btn-block btn-lg btn-danger customCaptureBtn disabled" id="btnCancel"><span class="glyphicon glyphicon-ban-circle"></span> CANCEL</button>
                    -->
                </div>
            {% include 'dummies/dummy_panel_close.html' %}
        </div>

        <div class="col-fluid">
            {% include 'dummies/dummy_panel_open.html' with title="Live-Stream" %}
                <div id="streamViewholder" style="width: min-content;">
                    <div id="focusFrame"></div>
                </div>
            {% include 'dummies/dummy_panel_close.html' %}
        </div>
    </div>


    <script>

		function setupPreviewFrame(size) {

            $this = $('#focusFrame');
            $parent = $("#streamViewholder");

            var scale = size / 100.0;
            var pos = {};

			pos.width = $parent.width() * scale;
			pos.height = $parent.height() * scale;

	        pos.left = ( $parent.height() - pos.height ) / 2.0;
			pos.top = ( $parent.width() - pos.width ) / 2.0;

            $this.css({ top: pos.left, left: pos.top });

            $this.width( pos.width );
            $this.height( pos.height );

			$this.draggable({
                containment: "parent",
            });

		}


        //============================================================

        window.onload = function(e) {
            startLiveStream();
        }


        window.addEventListener('beforeunload', function (e) {
          // Cancel the event
          e.preventDefault();

          console.log("stopLiveStream()");
          stopLiveStream();

          return undefined;
        });


        $(".customBtnSize").click(function(e) {
            setupPreviewFrame($(this).data('size'));
        });


        $("#btnCaptureVideo").click(function(e) {

            $this = $('#focusFrame');

            var pos = $this.position();
            var w = $this.width();
            var h = $this.height();

            var crop = '-vf crop=w='+w+':h='+h+':x='+pos["left"]+':y='+pos["top"];

            startLiveStream(true, crop);
        });

        //============================================================

        function startLiveStream(record=false, crop='') {
           console.log("Start Liveview");
           $.ajax({
                url: "{% url 'start_stream' %}",
                type: 'GET',
                data: {
					'csrfmiddlewaretoken': '{{ csrf_token }}',
					'record': record,
					'crop': crop,
				},
                success: function (data) {
                    console.log("Requested Liveview!");
                    setTimeout(addLiveStream, 1500);
                },
                error: function () {
                    console.error("Error on starting Liveview!");
                }
            });

        }

        function addLiveStream(){
            var image = new Image();
            image.src="{% url 'stream_frame' %}";
            image.alt="Couldn\'t load LiveStream!";
            //$("#streamViewholder").empty();
            $("#streamViewholder").prepend(image);
        }

        function stopLiveStream() {
           $.get("{% url 'stop_stream' %}", {});
        }

    </script>


{% endblock %}
